h1{text-align: center;}

div{text-align: center;
}


button{margin: 10px;}

#results, #scores{border: 2px;
background-color: aqua;
border-color: black;
border-style:solid;
border-radius: 10px;
margin-top: 20px;
}

  .image-button {
      display: inline-block;
      align-items: center;
      justify-content: center;
      background-color: aqua;
      color: #fff;
      padding: 10px 20px;
      border: none;
      border-radius: 5px;
      cursor: pointer;
      box-shadow: 0px -5px 10px 0px rgba(0, 0, 0, 0.5)
  }

  .image-button:hover {
      background-color: yellow;
  }

  .image-button:active {
    box-shadow: none;
  }

  .image-button img {
      height: 90px;
      margin: 2px;
  }

  #user, #user_score {
    margin-right: 50px;
  }

  #computer, #computer_score {
    margin-left: 50px;
  }

  #players, #player_scores{
    display: flex;
    flex-direction: row;
    justify-content: center;
  }

